.bg-text {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

body {
	background-image: url("https://media.discordapp.net/attachments/833959970419769364/968032851402584074/2022-04-25_13.10.59.png");
	box-shadow: inset 0 0 30px 15px #282a2d;
}